<div *ngIf="!eixtingUser" class="container">
  <form [formGroup]="startChatForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div>
      <label for="email">
        Email
      </label>
      <input id="email" type="text" formControlName="email">
    </div>

    <button class="button" type="submit">Start Chat</button>

  </form>
</div>

<div *ngIf="eixtingUser" class="container position-relative">
  <div class="chat-box__conversation" #conversationScroll>
    <div class="list-group-item list-group-item-action onlineusers__user" *ngFor="let message of conversation"
    [className]="message.to=='operator' ? 'chat-box__message chat-box__message--right alert-success' : 'chat-box__message chat-box__message--left alert-primary'"
    >
      {{message.message }}
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <form [formGroup]="chatForm" class="chat-box__form" (ngSubmit)="onSendMessage()">
    <div class="input-group mb-1">
      <input id="message" class="form-control" type="text" formControlName="message">
    </div>
    <div class="input-group-append"><button class="btn btn-primary" type="submit">Send</button></div>
  </form>
</div>