.myForm {
    min-width: 500px;
    position: absolute;
    background: aliceblue;
    padding: 60px;
    border: 1px solid #eee;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media (max-width: 500px) {
    .myForm {
      min-width: 90%;
    }
  }